html {
    font: 62.5%/1.65 "Open Sans", sans-serif;
    box-sizing: content-box;
}

body {
    padding-bottom: 40px;
    font-size: 1.7rem;
    line-height: 22px;
    color: #323336;
	background-color: white;
}

pre {
    font-size: 0.8em;
	white-space: pre-line;
	line-height: 1.4em;
	font-style: italic;
	color: #919191;
}

code {
    font-size: 0.8em;
		font-style: normal;
}

a {
    color: #299e81;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #29E181;
}

h1 {
    line-height: 30px;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.wrapper {
    position: relative;
    min-height: 60px;
    max-width: 800px;
    margin: 0 auto;
}

nav {
    border-bottom: #299e81 1.5px solid;
    padding: 10px 0;
    z-index: 700;
    width: 100%;
}

nav strong {
    position: absolute;
    font-size: 1.5rem;
    top: 20px;
    left: 0;
}

nav ul {
    position: absolute;
    list-style: none;
    padding: 0;
    top: 20px;
    margin: 0;
    right: 0;
}

nav ul li {
    position: relative;
    padding-left: 20px;
    font-size: 1.2rem;
    float: left;
}

nav a {
    color: #323336;
}

nav a:hover {
    text-decoration: none;
	border-bottom: 5px solid #299e81;
    color: #323336;
}

.welcome {
    background: none;
	background-image: url('../images/generic-background-small.png');
	background-repeat: repeat;
	background-position: center center;
	background-color: #299e81;
    margin-bottom: 30px;
    text-align: center;
    height: 200px;
	border: 1.5px solid #EAEAEA;
	box-shadow: 2px 3px grey;
	color: white;
	text-shadow: 2px 2px 8px black;
	border-bottom-right-radius: 9px;
	border-top-left-radius: 7px;
    font-size: 1.5em;
}

.welcome h1 {
    padding-top: 75px;
    margin: 0 0 34px;
}

.left-side {
    width: 63.26531%;
    float: left;
    padding-bottom: 35px;
}

.right-side {
    width: 30.61224%;
    float: right;
}

#footer {
	clear: both;
	text-align: center;
    line-height: 35px;
	color: #919191;
    font-size: 1rem;
}

/** SOURCE: https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ **/
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    border-left: 10px solid #cdd7dc;
    background: #83C4B4;
    padding: 0.5em 10px;
    margin: 1.5em 10px;
	color: white;
}

blockquote:before {
    vertical-align: -0.4em;
    margin-right: 0.25em;
    content: open-quote;
    line-height: 0.1em;
    font-size: 4em;
    color: #cdd7dc;
}

blockquote p {
    display: inline;
}

article {
    margin-bottom: 30px;
}

.pagination {
    border-top: #e2edf2 1px solid;
    padding-top: 30px;
    margin-top: 30px;
}

img {
    max-width: 100%;
}

.m-t-30 {
    margin-top: 30px;
}
/*# sourceMappingURL=all.css.map */
