html {

}

body {
	background-image: url('../images/generic-background.png');
	background-repeat: repeat;
	background-color: white;
}

pre {
	white-space: pre-line;
}

code {

}

a {

}

a:hover {

}

h1 {

}

.wrapper {

}

nav {

}

nav strong {

}

nav ul {

}

nav ul li {

}

nav a {

}

nav a:hover {

}

.welcome {

}

.welcome h1 {

}

.left-side {

}

.right-side {

}

blockquote {

}

blockquote:before {

}

blockquote p {
    display: inline;
}

article {

}

.pagination {

}

img {
    max-width: 100%;
}

.m-t-30 {
    margin-top: 30px;
}
/*# sourceMappingURL=all.css.map */
