
body {
    color: #323336;
	background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 4%;
    padding-right: 4%;
}

a {
  color: #B2B2FF;
}

a:focus,
a:hover,
a:active,
a.active {
  color: #5755d9;
}

a:visited {
  color: #4545AD;
}

hr {
	border-color: #A8ABB5;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	text-transform: capitalize;
}

h1 {
	color: #bcc3ce;
}

h2, h3, h4 {
	color: #212123;
}

pre {
	white-space: pre-line;
}

code {
    background: #303742;
	color: #BCC3CE;
}

nav {
	color: #bcc3ce;
}

blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    border-left: 10px solid #5755D9;
    background: #bcc3ce;
    padding: 0.5em 10px;
    margin: 1.5em 10px;
	color: #fff;
    font-style: italic;
}

blockquote:before {
    vertical-align: -0.4em;
    margin-right: 0.25em;
    content: open-quote;
    line-height: 0.1em;
    font-size: 4em;
    color: #5E6066;
}

blockquote p {
    display: inline;
}

#footer {
	text-align: center;
	color: #bcc3ce;
    line-height: 35px;
    font-size: 0.6rem;
	margin-top: 3%;
}

.nav-menu {
    padding-left: 11%;
    padding-right: 0;
}

.right-side {
    padding-top: 4%;
    padding-bottom: 40px;
    padding-left: 12%;
    padding-right: 0;
}

/* For mobile devices */

@media only screen and (max-width: 800px) {

  html {
      font-size: 16px !important;
  }

  body {
      font-size: 16px !important;
      padding-left: auto !important;
      padding-right: 0 !important;
  }

  .columns {
      display: flex !important;
      flex: 1 !important;
      flex-wrap: wrap !important;
  }

    .col-6 {
        width: 96% !important;
    }

    div.popover-container{
        width: 220px !important;
    }

    .popover.popover-bottom .popover-container {
        left: 100px !important;
    }

    .nav-menu {
        padding-left: 0 !important;
    }

    .right-side {
        padding-left: 1% !important;
    }

}

@media only screen and (max-width: 325px) {

    html {
        font-size: 16px !important;
    }

    body {
        font-size: 16px !important;
        padding-left: auto !important;
        padding-right: 0 !important;
    }

    .columns {
        display: inline !important;
    }

    .col-6 {
        width: 90% !important;
    }

    div.popover-container{
        width: 220px !important;
    }

    .popover.popover-bottom .popover-container {
        left: 100px !important;
    }

}

/*# sourceMappingURL=all.css.map */